<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>添加住户信息</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/welcome">皮皮小区物业管理系统</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/users">用户管理 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/residents">住户信息 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/houses">房产信息 <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="https://www.baidu.com/">曾玮部分</a>
                    <a class="dropdown-item" href="https://www.runoob.com/bootstrap4/bootstrap4-tutorial.html">周振平部分</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="输入需要查找的信息">
            <button class="btn btn-outline-success my-3 my-sm-0" type="submit">查找</button>
        </form>
    </div>
</nav>

<h2>Add resident</h2>

<div id="app">
    <form class="form-horizontal" id="add-resident-form" method="post">

        <div class="col-sm-offset-1 col-sm-11 alert" v-text="alertMessage" v-bind:class="{'alert-danger':state==2,'alert-success':state==1,'invisible':state==0}"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Id</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="id" name="id" value="" v-model="resident.id" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="name" name="name" value="" v-model="resident.name" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Age</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="age" name="age" value="" v-model="resident.age" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="gender" name="gender" value="" v-model="resident.gender" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="house_address" name="house_address" value="" v-model="resident.house_address" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Number</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="number" name="number" value="" v-model="resident.number" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="phone" name="phone" value="" v-model="resident.phone" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Start</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="start" name="start" value="" v-model="resident.start" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-primary" type="submit" v-on:click.prevent="addResident">Add Resident</button>
                    <a href="/residents" class="btn btn-outline-success">返回</a>
                </form>
            </div>
        </div>



    </form>
</div>

<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>

<script>
    var vue = new Vue({
        el: "#app",
        data: {
            resident: {
                name:"",
                age:"",
                gender:"",
                house_address:"",
                number:"",
                phone:"",
                start:""
            },
            alertMessage: "",
            state: 0
        },
        methods: {
            addResident: function() {
                console.log(JSON.stringify(this.resident));
                axios.post("https://localhost:8080/api/v1/residents", this.resident)
                    .then(res => {
                        console.log(res.data);
                        this.alertMessage = "Resident added succeed!";
                        this.state = 1;
                        //this.residents = res.data;
                    })
                    .catch(err => {
                        console.error(err.response.data.message);
                        this.alertMessage = err.response.data.message;
                        this.state = 2;
                    })
            }
        },
    });
</script>




</body>

</html>